.DS_Store
build
dist
nbproject
*/.dep.inc
*.class
*.xlsx
Clases_Profesores
*.docx
*.pdf
*.pptx
*.zip
Evaluaciones-2024-1
clion
.idea
notas
Evaluaciones-2025-1
2025-1/EX2-PREG01-2024-1
2025-1/Lab10 - 2024-2 - Temp
cmake-build-debug
bk
